{{ iso_storage_path }}          *(rw,sync,no_subtree_check,all_squash,anonuid=36,anongid=36)
{{ data_storage_path }}         *(rw,sync,no_subtree_check,all_squash,anonuid=36,anongid=36)
{{ export_storage_path }}       *(rw,sync,no_subtree_check,all_squash,anonuid=36,anongid=36)